.analiza-skladu{
    background-image: url("../images/dogsPaws.jpg");

}

.center-box{
    border-radius: 20px;
    font-family: Author-Extralight;
    background: white;
}

.center-box{
    padding: 10px;
}

.img-fluid{
    margin: 10px 0 10px 0;
}

.upload{
    width: 100%;
}

.submit{
    float: right;
    padding: 7px 20px 7px 20px;
}

.btn-primary{
    background: #212529;
    border-color: #212529;
}

.result{
    margin: 10px 0 10px 0;
}
h1{
    font-family: Author-Bold;
}
h3{
    font-family: Author-Bold;
}
h4{
    font-family: Author-Bold;
}
